@model TrashPickup.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div>
    <h4>Change your account settings</h4>
    <dl class="dl-horizontal">            
        <dd> 
<dt>Amount owed: $95</dt>

<dt>
    @*Pick up day:*@ 
</dt>

        
    </dl>
    </div>
    



