@model TrashPickup.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">     
        <dt>Amount owed:</dt>

        
        <dd> 
           
        </dd>


        
    </dl>
    
    


        </dl>

      
    <form action="/Home/CategoryChosen" method="get">

        <fieldset>
            Movie Type <select id="MovieType" name="MovieType">

                <option value=""></option>

                <option value="0">Action</option>

                <option value="1">Drama</option>

                <option selected="selected" value="2">Comedy</option>

                <option value="3">Science Fiction</option>

            </select>

            <p><input type="submit" value="Submit" /> </p>

        </fieldset>

    </form>




</div>

