@model TrashPickup.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<hr />
<dt>Amount owed: $95</dt>

<dt>
    Pick up day: 
</dt>




