@model TrashPickup.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<<<<<<< HEAD
=======
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">     
        <dt>Amount owed:</dt>

        
        <dd> 
           
        </dd>
>>>>>>> 9fdbd156d456bbbd12995caa26a5c2e92ec4e080

<hr />
<dt>Amount owed: $95</dt>

<<<<<<< HEAD
<dt>
    Pick up day: 
</dt>
=======
        
    </dl>
    
    

>>>>>>> 9fdbd156d456bbbd12995caa26a5c2e92ec4e080




