@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    333 N Plankintion Ave<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    1.800.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Support.com">Support@support.com</a><br />
   
</address>