@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3></h3>

<address>
    333 N Plankintion Ave<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    1.800.867.5309
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@Support.com">Support@support.com</a><br />
   
</address>

<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>
<body>
    <h3>Our Base of opp</h3>
    <div id="map"></div>
    <script>
      function initMap() {
          var uluru = {lat: 43.034432, lng: -87.911653};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyti0b2a2Pz_sc9TKJPr09nEoBOne6Lbo&callback=initMap">
    </script>

    @*My google maps api key AIzaSyAyti0b2a2Pz_sc9TKJPr09nEoBOne6Lbo*@
</body>
