
<title> Trash Collection </title>
    <h1>Trash Removel of the Century!</h1>
    <p></p>
</>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>Welcome to Trash collection where we work around your lifestyle and not force you to have to bend your will to us.
        </p>
        <p>
            Take a tour to get familier with the lay of the land and if you have any questions fill free to contact us, you can do that from the contact tap at the top of the page.
       </p>
    </div>
    <div class="col-md-4">
        <h2>

        </h2>
        <p>

        </p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>

        </h2>
        <p></p>
    </div>

</div>