
<title> Trash Collection </title>
    <h1>Collection of de trash</h1>
    <p></p>
</>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Welcome to Trash collection where we work around your lifestyle and not force you to have to bend your will to us.
        Here you have the power to chose when  you have your trash picked up. 
            
        </p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>

        </h2>
        <p>

        </p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>

        </h2>
        <p></p>
    </div>
</div>