
<title> Trash Collection </title>
    <h1>Trash Removel of the Century!</h1>
    <p></p>
</>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Welcome to Trash collection where we work around your lifestyle and not force you to have to bend your will to us.
        Here you have the power to chose when  you have your trash picked up. We know That Before hand you hand no choice of when your trash was picked up but now you do.
        Here at Trash Collection we want to make things as user friendly as possible, you can chose when to have your trask picked up or if you dont need to have it picked up you can tell us that too.
        </p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>

        </h2>
        <p>

        </p>
        <p>

        </p>
    </div>
    <div class="col-md-4">
        <h2>

        </h2>
        <p></p>
    </div>
</div>